@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');
@import './variables';
@import './basics';
@import './components';
@import './logo';
@import './home';


.signIn {
    display: flex;
    display: none;
    flex-direction: column;
}
.sign__text {
    text-align: center;
    padding: .5rem;

    .sign__title {
        color: $secColor;

        span {
            color: $mainColor;
        }
    }
    .sign__subtitle {
        color: $secColor;
        font-weight: 300;
        font-size: .8rem;
    }
}

.form {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-between;

    &__field {
        border: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 .4rem;
        margin-bottom: 2rem;
    }

    &__label {
        font-size: .8rem;
    }

    &__misc {
        width: 100%;
        display: flex;
        font-size: .7rem;
        padding: 0 1rem;
        justify-content: space-between;
    }

    &__remember {
        display: flex;
        align-items: center;

        input[type="checkbox"] {
            margin-right: .5rem;
        }
    }

    &__lost {
        font-size: .85rem;
        a {
            color: $mainColor;
        }
    }

    &__submit {
        outline: none;
        border: none;
        cursor: pointer;
        margin: 1.5rem 0;

        width: 50%;
        padding: .5rem 1rem;
        border-radius: 5px;
        box-shadow: 3px 3px 10px 1px rgba(#000, .2),
                    -2px -2px 10px 1px rgba(rgb(114, 107, 241), .9);

        background: linear-gradient(150deg, #291ea0, #6c63ff);

        color: #cbcaff;
    }
}

.input {
    display: flex;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #ccc;
    overflow: hidden;
    border-radius: 5px;

    box-shadow: 3px 3px 10px rgba(#000, .3),
                -5px -5px 10px rgba(#fff, 1);

                
        background: linear-gradient(145deg, #fff 10%, #f2f2f2 50%, #eee 75%);

    &__icon {
        font-size: 1.2rem;
        padding: .5rem 1rem;
        color: $secColor;
        background: transparent;
    }

    &_input {
        font-family: Poppins;
        border: none;
        outline: none;
        background: $background;
        border-left: 1px solid #ccc;
        padding: 0 1rem;
        background: transparent;

        width: 100%;
    }
}

.wrongSection {
    font-size: .8rem;
    a {
        color: $mainColor;
        font-size: 1rem;
    }
}







.signUp {
    display: flex;
    flex-direction: column;
    display: none;
}